/*内容部分*/
/*导航和banner*/
/*主菜单*/
.content .menu_banner .main_menu{
	width: 200px;
	height: 430px;
	position: relative;
}

.main_menu ul li span{
	height: 30px;
	width: 200px;
	text-indent: 18px;
	line-height: 30px;
	display: inline-block;
	position: relative;
	z-index: 1000;
}

.main_menu ul li .sub_menu{
	width: 472px;
	height: 490px;
	border: 1px solid #f60;
	position: absolute;
	top: 0;
	left: 200px;
	z-index: 999;
	background-color: #fff;
	display: none;
	padding:0px 68px 0px 38px;
}

.main_menu ul li .sub_menu .subMenuTop{
	height: 40px;
	line-height: 40px;
	color: #1a1a1a;
	margin-bottom: 8px;
}
.main_menu ul li .sub_menu .subMenuTop a{
	margin-right: 34px;
}

.main_menu ul li .sub_menu .subMenuCon .subMenuConTop{
	height: 24px;
	line-height: 24px;
	border-bottom: 2px solid #e6e6e6;
	margin-top: 8px;
}

.main_menu ul li .sub_menu .subMenuCon .subMenuConBto a{
	color: #262626;
	margin-right: 6px;
}

 .bannerCurrent{
	color: #ff6700;
	background-color: #fff;
	border: 1px solid #ff6700;
	border-right: none;
}

.content .menu_banner .banner{
	width: 1000px;
	height: 430px;
}

/*今日推荐*/
.all .todayTitle{
	padding-left: 16px;
	height: 30px;
	border-bottom: 6px solid #f60;
	
}

.today-recommends .all .list_all{
	width: 1188px;
	height: 496px;
	margin-left: 5px;
	border-right: 2px solid #f60;
}

.today-recommends .all .list_all ul .list_li{
	width: 196px;
	height: 246px;
	border-left: 2px solid #f60;
	border-bottom: 2px solid #f60;
	float: left;
}

.today-recommends .all .list_all ul .list_li .img1{
	width: 196px;
	height: 150px;
	text-align: center;
}

.today-recommends .all .list_all ul .list_li .qinggou{
	position: relative;
	height: 28px;
}

.today-recommends .all .list_all ul .list_li .qinggou img{
	position: absolute;
	top: 0;
}

.today-recommends .all .list_all ul .list_li .p{
	padding-left:6px ;
}

.today-recommends .all .list_all ul .list_li .price{
	height: 20px;
	color: #f4290d;
	font-size: 22px;
	line-height: 18px;
	padding-left: 10px;
}


/*图书、电子书*/
.ebook #booksLeft{
	width: 906px;
	margin-top: 40px;
}

/*图书标题样式*/
.ebook #booksLeft .booksTitle{
	width: 906px;
	height: 34px;
	border-bottom:6px solid #ff6600;
}

.ebook #booksLeft .booksTitle .booksTitleLeft{
	padding-bottom: 4px;
	line-height:26px ;
}

.ebook #booksLeft .booksTitle .booksTitleRight ul li{
	float: left;
	width: 98px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	margin-left: 6px;
	margin-top: 1px;
}


/*js滑动菜单效果*/
.current{
	width: 98px;
	height: 34px;
	color: #fff;;
	background-color:#ff6600; 
}

/*图书内容左边样式*/
.ebook .booksCon .booksConLeft .booksConLeftImg{
	width: 200px;
	height: 286px;
}

.ebook .booksCon .booksConLeft .booksConLeftCon{
	width: 240px;
	height: 150px;
	background-color: #f9f9f9;
}

.ebook .booksCon .booksConLeft .booksConLeftCon ul li{
	width: 72px;
	float: left;
	margin-left: 6px;
	margin-top: 20px;	
}
.ebook .booksCon .booksConLeft .booksConLeftCon ul li a{
	color: #333;	
}

.ebook .booksCon .booksConCen{
	width: 664px;
	height: 436px;
	border-left: 2px solid #cccccc;
}

.ebook .booksCon .booksConCen .booksBanner{
	width: 330px;
	height: 216px;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.ebook .booksCon .booksConCen .booksBox{
	width: 164px;
	height: 216px;
	border-bottom: 2px solid #ccc;
	border-right: 2px solid #ccc;
}

.ebook .booksCon .booksConCen .booksBox .aoyun{
	padding: 18px 0px 4px 4px;
}

.ebook .booksCon .booksConCen .booksBox .f4290d{
	padding-left: 4px;
	padding-bottom: 4px;
}

.ebook .booksCon .booksConCen .booksBox .b2b2b2{
	padding: 4px 0px 0px 10px;
}

.ebook .booksCon .booksConCen .booksBox p .del{
	padding-left: 12px;
	display: inline-block;
	text-decoration:line-through;
}

/*图书右边菜单样式*/
.ebook .ebook_right{
    width: 280px;
    height: 438px;
    margin-top: 74px;
    border: 2px solid #ccc;
    margin-left: 8px;
}
.ebook .ebook_right h2{
	font-weight: normal;
	text-align: center;
}
.ebook .ebook_right ul{
	line-height: 18px;
	text-indent: 8px;
}
.ebook .ebook_right .default_title .default_text{
	width: 256px;
	height: 29px;
	border-bottom: 2px solid #e6e6e6;
}
.ebook .ebook_right .default_title .default_text1{
	width: 256px;
	height: 29px;
}

.ebook .ebook_right .hot_content span{
	display: inline-block;
}
.ebook .ebook_right .hot_content .hot_one{
	width: 256px;
	height: 150px;
	font-size: 12px;
	border-bottom: 2px solid #e6e6e6;
}
.ebook .ebook_right .hot_content .hot_one1{
	width: 256px;
	height: 150px;
	font-size: 12px;
}

.dis_none{
	display: none;
}


/*公共样式栏目*/
/*服装、户外运动、童装*/
.publicTitle{
	height: 34px;
	border-bottom:6px solid #ff6600;
}

.publicTitle .publicTitleLeft{
	height: 34px;
	line-height:26px ;
}

.publicTitle .publicTitleRight ul li{
	float: left;
	width: 98px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	margin-left: 6px;
}

.publicCon .publicConLeft{
	width: 238px;
	height: 500px;
}

.publicCon .publicConLeft .publicConLeftImg{
	width: 238px;
	height: 350px;
}

.publicCon .publicConLeft .publicConLeftText{
	width: 238px;
	height: 150px;
	background-color: #f9f9f9;
}

.publicCon .publicConLeft .publicConLeftText ul li{
	width: 72px;
	float: left;
	margin-left: 6px;
	margin-top: 19px;
	font-size: 14px;
}
/*公共中间样式*/
.publicCon .publicConCen{
	width: 430px;
	height: 500px;
}

.publicCon .publicConCen .publicConCenBanner{
	width: 426px;
	height: 338px;
	border: 2px solid #ccc;
	border-top: none;
}

.publicCon .publicConCen .publicConCenImg{
	width: 426px;
	height: 158px;
	border: 2px solid #ccc;
	border-top: none;
}

.publicCon .publicConCen .publicConCenImg img{
	width: 426px;
	height: 158px;
}

/*公共右边样式*/
.publicCon .publicConRight{
	width: 532px;
	height: 500px;
}

.publicCon .publicConRight .publicConRightTop{
	width: 532px;
	height: 340px;
}

.publicCon .publicConRight .publicConRightTop .publictShop1{
	width: 175px;
	height: 338px;
	border: 2px solid #ccc;
	border-top: none;
	border-left: none;
}

.publicConRightTop .publictShop1 .pubCon1{
	width: 174px;
	height: 32px;
	line-height: 32px;
	text-indent: 8px;
}

.publicConRightTop .publictShop1 .pubCon2{
	width: 174px;
	height: 25px;
	text-indent: 8px;
}
/*第一种样式*/
.publicConRightTop .publictShop1 .pubCon3{
	width: 106px;
	height: 20px;
	text-indent: 4px;
	line-height: 20px;
	background-color: red;
	border-radius: 8px;
	margin: 0px 0px 19px 8px;
}
/*第二种样式*/
.publicConRightTop .publictShop1 .pubCon3-3{
	width: 84px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	text-indent: 8px;
	background-color: red;
	border-radius: 8px;
	margin: 0px 0px 19px 8px;
}

.publicCon .publicConRight .publicConRightBot .publictShop2{
	width: 175px;
	height: 158px;
	border: 2px solid #ccc;
	border-top: none;
	border-left: none;
}

.publicConRightBot .publictShop2 .pubCon4{
	width: 174px;
	height: 28px;
	line-height: 28px;
	text-indent: 8px;
}

.publicConRightBot .publictShop2 .pubCon5{
	width: 174px;
	text-indent: 8px;
}

.publicConRightBot .publictShop2 .pubConImgSmall{
	width: 175px;
	text-align: center;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
}

/*定义公共底部品牌图标样式*/
.publicBottom{
	width: 1200px;
	height: 64px;
}
/*第一种图标*/
.publicBottom ul li{
	width: 133px;
	height: 64px;
	float: left;
}

.publicBottom ul li img{
	width: 133px;
	height: 64px;
}


/*家居日用样式*/
.house_use .house_use_Left{
	width: 484px;
	height: 498px;
	border: 2px solid #ccc;
	border-top: none;
}

.house_use .house_use_Left img{
	width: 484px;
	height: 498px;
}

.house_use .house_use_ConImg{
	width: 176px;
	height: 338px;
	border: 2px solid #ccc;
	border-top: none;
	border-left: none;
}

.house_use .house_use_ConImg img{
	width: 176px;
	height: 338px;
}

.house_use .house_use_ConImgS{
	width: 176px;
	height: 158px;
	border: 2px solid #ccc;
	border-top: none;
	border-left: none;
}

.house_use .house_use_ConImgS img{
	width: 176px;
	height: 158px;
}

/*推广商品标题样式*/
.extend_Title{
	height: 34px;
	border-bottom:6px solid #ff6600;
}

.extend_Title .extend_Title_Left{
	height: 34px;
	line-height:26px ;
}

.extend .extend_Title .extend_li ul .extendCurrent{
	background-color: #f60;
}

.extend .extend_Title .extend_li{
	margin-right: 10px;
}

.extend .extend_Title .extend_li ul li{
	width: 12px;
	height: 12px;
	line-height: 12px;
	background-color: #bfbfbf;
	border-radius: 50%;
	float: left;
	margin-right: 6px;
	margin-top: 16px;
}

/*推广商品内容样式*/
#extend_Con{
	width: 1200px;
	height: 660px;
	margin-bottom: 26px;
}

.extend_ConOut{
	width: 214px;
	height: 300px;
	margin: 10px;
}

.extend_ConOut .extend_ConOn{
	width: 148px;
	height: 250px;
	padding: 25px 32px;
}

.extend_ConOut .extend_ConOn img{
	width: 148px;
	height: 148px;
	margin-bottom: 12px;
}

.extend_ConOut .extend_ConOn p{
	width: 140px;
	height: 26px;
	padding:0px 2px 8px 6px;
}

.extend_ConOut .extend_ConOn .p1 {
	width: 140px;
	height: 26px;
	margin-top:8px ;
}

.extend_ConOut .extend_ConOn .p2 {
	width: 140px;
	height: 26px;
	line-height: 26px;
	color: #747474;
	text-indent:30px;
	background:url(../img/bgicon.png) no-repeat 0px -80px;
	margin-top: -4px;
}

.bcColorHui{
	background-color: #f2f2f2;
}


/*领券中心*/
.voucher_center{
	position: fixed;
	top: 100px;
	right: 0;
}
.voucher_center .two_code{
	position: relative;
}
.voucher_center .two_33{
	position: absolute;
	left: 39px;
	top: 0;
}



/*滚动到各个楼层*/
.louti{
	position: fixed;
	top: 200px;
	left: 10px;
	display: none;
}

.louti ul{
	width: 40px;
	white-space: nowrap;
}

.louti ul li{
	width: 0;
	line-height: 32px;
	padding-left: 40px;
	overflow: hidden;
	background: url(../img/fix_box_icon.png) no-repeat;
}

.louti .louti_tushu{
	background-position: 0px -40px;
}

.louti .louti_cloth{
	background-position:0px -80px;
}
.louti .louti_outdoor{
	background-position:0px -124px;
}
.louti .louti_child{
	background-position:0px -164px;
}
.louti .louti_house{
	background-position:0px -202px;
}
.louti .louti_extend{
	background-position:0px -242px;
}
.louti .louti_top{
	background-position:0px -284px;
}


/*顶部搜索框样式*/
.form_top{
	height: 60px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	display: none;
	margin-top: 0;
}

.form_top form{
	margin:10px 32% 0 0;
}




















